
.site-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.site-logo:focus {
  outline: 0;
}

ul {
  list-style: var(--list-style);
  display: var(--display-style);
}
.activeRouter{
  color: var(--active-color);
}

